<section class="mx-auto w-full max-w-screen-sm px-4">
  <form class="space-y-4 md:space-y-6" [formGroup]="form" (ngSubmit)="submit()">
    <div>
      <label
        for="nombres"
        class="block mb-2 text-sm font-medium text-red-900 dark:text-white"
        >nombres</label
      >
      <input
        type="title"
        name="title"
        id="text"
        class="bg-gray-50 border border-gray-300 text-red-900 rounded-lg focus:ring-green-600 focus:border-green-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        formControlName="nombres"
      />
    </div>
  
    <div>
      <label
        for="apellido"
        class="block mb-2 text-sm font-medium text-red-900 dark:text-white"
        >apellido</label
      >
      <input
        type="title"
        name="title"
        id="text"
        class="bg-gray-50 border border-gray-300 text-red-900 rounded-lg focus:ring-green-600 focus:border-green-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        formControlName="apellido"
      />
    </div>
    

    <div>
      <label
        for="escuelaProfesional"
        class="block mb-2 text-sm font-medium text-red-900 dark:text-white"
        >escuelaProfesional</label
      >
      <input
        type="title"
        name="title"
        id="text"
        class="bg-gray-50 border border-gray-300 text-red-900 rounded-lg focus:ring-green-600 focus:border-green-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        formControlName="escuelaProfesional"
      />


      <div>
        <label
          for="anioCarrera"
          class="block mb-2 text-sm font-medium text-red-900 dark:text-white"
          >año de Carrera</label
        >
        <input
          type="title"
          name="title"
          id="number"
          class="bg-gray-50 border border-gray-300 text-red-900 rounded-lg focus:ring-green-600 focus:border-green-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          formControlName="anioCarrera"
        />

        



      </div>

    </div>


    <div>
      <label
        for="fotoUrl"
        class="block mb-2 text-sm font-medium text-red-900 dark:text-white"
        >fotoUrl</label
      >
      <input
        type="title"
        name="title"
        id="text"
        class="bg-gray-50 border border-gray-300 text-red-900 rounded-lg focus:ring-green-600 focus:border-green-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        formControlName="fotoUrl"
      />
    </div>
    <button
    
      type="submit"
      class="text-white bg-green-600 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
    >
    crear
    </button>
  </form>
</section>