<div class="grid gap-4 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 p-4">
  @for(perfil of perfil(); track perfil.id) {
  <div
    class="relative bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700 p-4"
  >
    <div class="flex items-center space-x-4">
      <img
        [src]="perfil.fotoUrl || 'https://via.placeholder.com/100'"
        alt="Foto de {{ perfil.nombres }}"
        class="w-16 h-16 rounded-full border border-gray-300 dark:border-gray-600"
      />
      <div>
        <h3
          class="text-lg font-semibold text-gray-900 dark:text-white capitalize"
        >
          {{ perfil.nombres }} {{ perfil.apellido }}
        </h3>
        <p class="text-sm text-gray-500 dark:text-gray-400">
          {{ perfil.escuelaProfesional }}
        </p>
      </div>
    </div>
    <div class="mt-4">
      <p class="text-sm font-medium text-gray-900 dark:text-gray-300">
        Año de Carrera:
      </p>
      <p class="text-base text-gray-700 dark:text-gray-400">
        {{ perfil.anioCarrera }}
      </p>
    </div>
    <div class="mt-4 flex justify-between items-center">
      <a
        [routerLink]="['/perfil/edit/' + perfil.id]"
        class="inline-block text-sm text-white bg-green-600 hover:bg-green-700 focus:ring-4 focus:ring-green-300 font-medium rounded-lg px-4 py-2 dark:bg-green-700 dark:hover:bg-green-800 dark:focus:ring-green-800"
      >
        Editar
      </a>
      <span
        class="text-xs text-gray-500 dark:text-gray-400 absolute top-2 right-2"
      >
        
      </span>
    </div>
  </div>
  } @empty {
  <div
    class="col-span-full text-center p-4 bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700"
  >
    <p class="text-gray-600 dark:text-gray-400">No tienes un perfil.</p>
  </div>
  }
</div>
